@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap');

*{
margin : 0;
padding: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(car2.jpg);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
  text-align: center;
    
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
   } 

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact.content p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
   align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 95%;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
  
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

/* Contact form  */
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}



.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputbox input,
.contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}
.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5;
    color: #666;
}

/* send button  */
.send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(49, 65, 80);
  }

.contactForm .inputbox .send{
    color: rgb(58, 82, 82);
    padding: 20px;
    width: 90%;
    margin: 10px;
    border: none;
    outline: none;
  }
  
 
